
 ul.bucket {
  padding: 2px;
 }

 ul.bucket li {
  display: inline-block;
  background: lightgray !important;
  width:50px;
  text-align:center !important;
  padding:0px !important;
 }
 
 ul.selected-slot {
  padding: 10px;
  background: pink;
  width: 80%;
  align: left;
 }

 ul.slot {
  padding: 10px;
  background: lavender;
  width: 80%;
  align: left;
 }


 ul.selected-slot li {
  display: inline-block;
  padding:0px 10px 0px 10px;
 }

 ul.slot li {
  display: inline-block;
  padding:0px 10px 0px 10px;
 }

 ul.selected-slot li:before{
  content: none !important;
 }

 ul.slot li:before{
  content: none !important;
 }

 ol.stage {
  list-style-type: none;
 }

 ol.stage li:nth-of-type(1) {
    counter-reset: address;
 }

 ol.stage li:not(:nth-of-type(1)) {
    counter-increment: address;
 }

 ol.stage li:before {
  content: counter(address) ;
 }
